<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rachitgoyal.screentimer"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GazeAway"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="DATABASE"
            android:value="screen_timer.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.rachitgoyal" />

        <activity
            android:name=".modules.onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.tears.TearsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.reminder.ReminderActivity"
            android:label=""
            android:parentActivityName=".modules.tears.TearsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rachitgoyal.screentimer.modules.tears.TearsActivity" />
        </activity>
        <activity
            android:name=".modules.history.HistoryActivity"
            android:label=""
            android:parentActivityName=".modules.tears.TearsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rachitgoyal.screentimer.modules.tears.TearsActivity" />
        </activity>
        <activity
            android:name=".modules.settings.SettingsActivity"
            android:label=""
            android:parentActivityName=".modules.tears.TearsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rachitgoyal.screentimer.modules.tears.TearsActivity" />
        </activity>
        <activity
            android:name=".modules.webview.WebViewActivity"
            android:parentActivityName=".modules.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rachitgoyal.screentimer.modules.settings.SettingsActivity" />
        </activity>

        <service
            android:name=".service.ScreenTimerService"
            android:enabled="true"/>

        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
